body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(153, 153, 249);
}

.box {
    display: flex;   
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.rem {
    width: 10rem; /* 10 * 16px = 160px depende del tamaño de la fuente raíz (html o body = 16px) */
    height: 5rem;
    background-color: brown;
    font-size: 1.5rem;
}

.em {
    font-size: 20px;
    width: 10em; /* 10 * 20px = 200px depende del tamaño de la fuente del elemento padre */
    height: 5em;
    background-color: green;
}

.percenrt {
    width: 50%;
    height: 50%;
    background-color: orange;
    font-size: 1rem;
}